In [172]:
import pandas as pd
import numpy as np

In [173]:
data1=pd.read_csv("matches.csv")
data2=pd.read_csv("deliveries.csv")
data1.head(10)
#data2.head(10)

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN
5,6,2017,Hyderabad,2017-04-09,Gujarat Lions,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,Sunrisers Hyderabad,0,9,Rashid Khan,"Rajiv Gandhi International Stadium, Uppal",A Deshmukh,NJ Llong,NaN
6,7,2017,Mumbai,2017-04-09,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,4,N Rana,Wankhede Stadium,Nitin Menon,CK Nandan,NaN
7,8,2017,Indore,2017-04-10,Royal Challengers Bangalore,Kings XI Punjab,Royal Challengers Bangalore,bat,normal,0,Kings XI Punjab,0,8,AR Patel,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
8,9,2017,Pune,2017-04-11,Delhi Daredevils,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Delhi Daredevils,97,0,SV Samson,Maharashtra Cricket Association Stadium,AY Dandekar,S Ravi,NaN
9,10,2017,Mumbai,2017-04-12,Sunrisers Hyderabad,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,4,JJ Bumrah,Wankhede Stadium,Nitin Menon,CK Nandan,NaN

In [174]:
data2['dismissal_kind'].value_counts()

caught                   4373
bowled                   1382
run out                   755
lbw                       455
stumped                   243
caught and bowled         211
retired hurt                9
hit wicket                  9
obstructing the field       1
Name: dismissal_kind, dtype: int64

# Q1. Find out a City which has hosted most no. of IPL openers i.e first match of a season.

In [175]:
data11=data1.drop_duplicates("season",keep="first")
data11

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
59,60,2008,Bangalore,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Kolkata Knight Riders,140,0,BB McCullum,M Chinnaswamy Stadium,Asad Rauf,RE Koertzen,NaN
117,118,2009,Cape Town,2009-04-18,Mumbai Indians,Chennai Super Kings,Chennai Super Kings,field,normal,0,Mumbai Indians,19,0,SR Tendulkar,Newlands,BR Doctrove,K Hariharan,NaN
174,175,2010,Mumbai,2010-03-12,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,field,normal,0,Kolkata Knight Riders,11,0,AD Mathews,Dr DY Patil Sports Academy,RE Koertzen,RB Tiffin,NaN
234,235,2011,Chennai,2011-04-08,Chennai Super Kings,Kolkata Knight Riders,Chennai Super Kings,bat,normal,0,Chennai Super Kings,2,0,S Anirudha,"MA Chidambaram Stadium, Chepauk",BR Doctrove,PR Reiffel,NaN
307,308,2012,Chennai,2012-04-04,Chennai Super Kings,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,8,RE Levi,"MA Chidambaram Stadium, Chepauk",JD Cloete,SJA Taufel,NaN
381,382,2013,Kolkata,2013-04-03,Delhi Daredevils,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,6,SP Narine,Eden Gardens,S Ravi,SJA Taufel,NaN
457,458,2014,Abu Dhabi,2014-04-16,Kolkata Knight Riders,Mumbai Indians,Kolkata Knight Riders,bat,normal,0,Kolkata Knight Riders,41,0,JH Kallis,Sheikh Zayed Stadium,M Erasmus,RK Illingworth,NaN
517,518,2015,Kolkata,2015-04-08,Mumbai Indians,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,7,M Morkel,Eden Gardens,S Ravi,C Shamshuddin,NaN
576,577,2016,Mumbai,2016-04-09,Mumbai Indians,Rising Pune Supergiants,Mumbai Indians,bat,normal,0,Rising Pune Supergiants,0,9,AM Rahane,Wankhede Stadium,HDPK Dharmasena,CK Nandan,NaN

In [176]:
mask1=data11['city']

In [177]:
mask1.value_counts().head()

Mumbai       2
Kolkata      2
Chennai      2
Hyderabad    1
Cape Town    1
Name: city, dtype: int64

# sir 3 city ka same a raha hai,to aisa ho chor dia:-))

# Q2. Find out top-3 batsman who has scored most runs against Malinga.

In [178]:
mask2=data2['bowler']=='SL Malinga'
data21=data2[mask2]
data22=data21.groupby('batsman')
data23=data22.sum()
data23['total_runs'].sort_values(ascending=False).head(3)

batsman
BB McCullum    88
SR Watson      85
JH Kallis      85
Name: total_runs, dtype: int64

# Q3. Make a function to find top bowler(in terms of most wickets) against any team. Take input as team.

In [257]:
data24=data2.groupby('bowling_team')
mask8=data24['dismissal_kind']='run out'

TypeError: 'DataFrameGroupBy' object does not support item assignment

In [270]:
for "dismissal_kind" in data2.columns():
   data2.loc[df[dismissal_kind] == 'NaN',dismissal_kind] = 0
   data2.loc[df[dismissal_kind] == 'run out',dismissal_kind] =0
   #df.loc[df[col] == '?', col] = 1
     
   data2

SyntaxError: can't assign to literal (<ipython-input-270-46b5648d65dc>, line 1)

# Q4. Write a function which will take team name as input and return it's record of no. occurance in finals and no. of times won. [Difficult]

In [271]:

def win(t):    
 data10=data1.drop_duplicates("season",keep="last")
 mask91=data10['team1']==t
 mask92=data10['team2']==t
 mask93=data10['winner']==t
 data25=data10[mask92 + mask91]
 data26=data10[mask93]
 print('no. occurance in finals',data25.shape[0])
 print('no. of times won',data26.shape[0])

In [272]:
win('Chennai Super Kings')

no. occurance in finals 6
no. of times won 2

In [217]:
win('Royal Challengers Bangalore')

no. occurance in finals 3
no. of times won 0

In [218]:
win('Kolkata Knight Riders')

no. occurance in finals 2
no. of times won 2

# Q5. Write a function which will take a input as batsman and in output it gives total runs scored against each team. [Medium]

In [239]:
def batsman(bt): 
 mask60=data2['batsman']==bt
 data28=data2[mask60]
 data29=data28.groupby('bowling_team').sum()
 return (data29['total_runs'].sort_values(ascending=False))

In [243]:
batsman('DA Warner')

bowling_team
Kolkata Knight Riders          709
Kings XI Punjab                697
Royal Challengers Bangalore    602
Mumbai Indians                 492
Chennai Super Kings            353
Gujarat Lions                  349
Delhi Daredevils               277
Deccan Chargers                243
Rajasthan Royals               242
Pune Warriors                  123
Rising Pune Supergiant          87
Kochi Tuskers Kerala            18
Rising Pune Supergiants         12
Sunrisers Hyderabad              9
Name: total_runs, dtype: int64

In [247]:
batsman("V Kohli")

bowling_team
Chennai Super Kings        732
Delhi Daredevils           685
Kings XI Punjab            504
Mumbai Indians             468
Sunrisers Hyderabad        458
Kolkata Knight Riders      400
Deccan Chargers            323
Gujarat Lions              287
Rajasthan Royals           267
Rising Pune Supergiants    201
Pune Warriors              129
Rising Pune Supergiant      83
Kochi Tuskers Kerala        51
Name: total_runs, dtype: int64

In [249]:
batsman('SR Tendulkar')

bowling_team
Chennai Super Kings            392
Kolkata Knight Riders          345
Delhi Daredevils               322
Rajasthan Royals               301
Royal Challengers Bangalore    290
Kings XI Punjab                289
Deccan Chargers                255
Pune Warriors                  174
Kochi Tuskers Kerala           113
Sunrisers Hyderabad             56
Name: total_runs, dtype: int64

In [250]:
batsman('RG Sharma')

bowling_team
Kolkata Knight Riders          741
Delhi Daredevils               684
Royal Challengers Bangalore    548
Chennai Super Kings            546
Kings XI Punjab                540
Rajasthan Royals               417
Deccan Chargers                178
Sunrisers Hyderabad            169
Pune Warriors                  137
Mumbai Indians                 108
Rising Pune Supergiants         95
Rising Pune Supergiant          89
Gujarat Lions                   82
Name: total_runs, dtype: int64

In [251]:
batsman('MS Dhoni')

bowling_team
Royal Challengers Bangalore    634
Mumbai Indians                 609
Kings XI Punjab                477
Delhi Daredevils               434
Kolkata Knight Riders          410
Sunrisers Hyderabad            355
Deccan Chargers                300
Rajasthan Royals               258
Pune Warriors                  136
Gujarat Lions                   91
Kochi Tuskers Kerala            24
Name: total_runs, dtype: int64

In [248]:
data2.groupby('batsman').size().sort_values(ascending=False)

batsman
V Kohli             3494
G Gambhir           3433
SK Raina            3369
RG Sharma           3274
S Dhawan            3005
RV Uthappa          2960
DA Warner           2902
MS Dhoni            2680
AM Rahane           2602
CH Gayle            2532
AB de Villiers      2402
KD Karthik          2360
JH Kallis           2291
BB McCullum         2181
M Vijay             2092
YK Pathan           2076
PA Patel            2060
Yuvraj Singh        2050
SR Tendulkar        2044
AT Rayudu           1964
SR Watson           1949
R Dravid            1918
SE Marsh            1913
MK Pandey           1901
V Sehwag            1833
DR Smith            1803
KA Pollard          1674
MEK Hussey          1648
JP Duminy           1634
AC Gilchrist        1555
                    ...
SB Wagh                3
DJ Muthuswami          3
BE Hendricks           3
Mohammad Nabi          3
CRD Fernando           3
Shivam Sharma          3
VRV Singh              3
P Parameswaran         3
M de Lange             2
IC Pandey              2
Mashrafe Mortaza       2
RD Chahar              2
RG More                2
Abdur Razzak           2
RS Sodhi               2
VS Yeligati            2
RR Bhatkal             2
L Ablish               2
SE Bond                2
PM Sarvesh Kumar       2
U Kaul                 1
NJ Rimmington          1
LH Ferguson            1
V Pratap Singh         1
M Ashwin               1
YA Abdulla             1
DP Vijaykumar          1
C Nanda                1
Sunny Gupta            1
S Kaushik              1
Length: 461, dtype: int64